<div class="card">
  <div class="card-header">
    {{doc.key}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{doc.content}}</p>
    </blockquote>
  </div>
</div>
