<div class="container">
    <ngb-alert class="err" [type]="'danger'" (close)="close()" [hidden]="isAlertClosed">something went wrong</ngb-alert>
    <div class="row search-app search">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type some words ..." #tokens>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="search(tokens)">Search</button>
                    <button class="btn btn-outline-secondary" type="button" (click)="onAddDocs()">Add new document
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="!isAddDoc && !isViewDoc">
            <search-result [searchResult]="searchResult" (isViewDoc)="onViewDoc($event)"></search-result>
        </div>
        <div class="col-md-12" *ngIf="isAddDoc">
            <add-docs (errorEventEmitter)="showAlert(true)" (successEventEmitter)="showAlert(false)"></add-docs>
        </div>
        <div class="col-md-12" *ngIf="isViewDoc">
            <doc-view [docKey]="docKey" (errorEventEmitter)="showAlert(true)"></doc-view>
        </div>
    </div>
</div>
