<div class="result">
  <ul class="list-group list-group-flush">
    <li *ngFor="let r of searchResult"
        class="list-group-item">{{r}}<a class="viewLink" (click)="onViewDoc(r)">view</a></li>
  </ul>
</div>

