<form #doc = "ngForm" (ngSubmit) = "onAdd(doc)">
  <div class="form-group">
    <label for="exampleFormControlInput1">Document Key</label>
    <input type="input" class="form-control" name="key" id="exampleFormControlInput1" ngModel>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3" ngModel></textarea>
  </div>
  <input type="submit" class="btn btn-outline-secondary">
</form>
